.nav-bar{
    position: absolute;
    width: 100%;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    &__link{
        @include regular;
        padding: 10px 10px;
        font-size: 16px;
        color: $text-color__nav;
        &:hover{
            border-bottom: 1px solid $text-color__nav;
        }
    }
}