.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-name{
    color: $text-color__section;
    text-transform: uppercase;
    font-size: 46px;
    @include bold;
    letter-spacing: 5px;
    margin-bottom: 55px;
    &::before{
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background-color: $text-color__section;
        margin: 6px auto;
    }  
}
.skills-wrap{
    margin: 80px 0;
}
.skills-wrap__photo{
    max-width: 995px;
    width: 100%;
    max-height: 415px;
    height: 100%;
}